/*********** CSS TABLE OF CONTENTS *******************

|--- 01.Component -> { Header }
|--- 01.Component -> { Menu }
|--- 01.Component -> { Button }
|--- 01.Component -> { Lists }
|--- 01.Component -> { Background }
|--- 01.Component -> { Form }
|--- 01.Component -> { Cards }
|--- 01.Component -> { Modal }
|--- 01.Component -> { Tab }
|--- 01.Component -> { Acccordion }
|--- 01.Component -> { Sidebar }
|--- 02.Utility -> { Color }
|--- 02.Utility -> { Flex }
|--- 02.Utility -> { Grid }
|--- 02.Utility -> { Shadows }
|--- 02.Utility -> { Size }
|--- 02.Utility -> { Borders }
|--- 02.Utility -> { Common }
|--- 02.Utility -> { Tablet }
|--- 02.Utility -> { Typography }
|--- 03.Theme Utility -> { Hovers }
|--- 03.Theme Utility -> { Positioning }
|--- 03.Theme Utility -> { Sizes }
|--- 03.Theme Utility -> { Typograpy }
|--- 03.Theme Utility -> { Gradient }
|--- THEME CUSTOM STYLES

******************************************************/

@import "theme-mode-control/theme-mode-activation";
@import "controls/theme-functions";
@import "controls/theme-variables";
@import "controls/theme-media-query";
@import "controls/theme-mixins";

//Bootstrap Required
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
/* ---------------------------
  01.Component -> { Header } 
------------------------------*/
@import "components/header";
/* ---------------------------
  01.Component -> { Menu } 
------------------------------*/
@import "components/menu";
/* ---------------------------
  01.Component -> { Button } 
------------------------------*/
@import "components/button";
/* ---------------------------
  01.Component -> { Lists } 
------------------------------*/
@import "components/lists";
/* ---------------------------
  01.Component -> { Background } 
------------------------------*/
@import "components/background";
/* ---------------------------
  01.Component -> { Form } 
------------------------------*/
@import "components/form";
/* ---------------------------
  01.Component -> { Cards } 
------------------------------*/
@import "components/cards";
/* ---------------------------
  01.Component -> { Modal } 
------------------------------*/
@import "components/modal";
/* ---------------------------
  01.Component -> { Tab } 
------------------------------*/
@import "components/tabs";
/* ---------------------------
  01.Component -> { Acccordion } 
------------------------------*/
@import "components/accordion";
/* ---------------------------
  01.Component -> { Sidebar } 
------------------------------*/
@import "components/sidebars";
/* ---------------------------
  02.Utility -> { Color } 
------------------------------*/
@import "utilities/color";
/* ---------------------------
  02.Utility -> { Flex } 
------------------------------*/
@import "utilities/flex";
/* ---------------------------
  02.Utility -> { Grid } 
------------------------------*/
@import "utilities/grid";
/* ---------------------------
  02.Utility -> { Shadows } 
------------------------------*/
@import "utilities/shadows";
/* ---------------------------
  02.Utility -> { Size } 
------------------------------*/
@import "utilities/size";
/* ---------------------------
  02.Utility -> { Borders } 
------------------------------*/
@import "utilities/borders";
/* ---------------------------
  02.Utility -> { Common } 
------------------------------*/
@import "utilities/common";
/* ---------------------------
  02.Utility -> { Tablet } 
------------------------------*/
@import "utilities/tables";
/* ---------------------------
  02.Utility -> { Typography } 
------------------------------*/
@import "utilities/typography";
/* ---------------------------
  03.Theme Utility -> { Hovers } 
------------------------------*/
@import "theme-utilities/hovers";
/* ---------------------------
  03.Theme Utility -> { Positioning } 
------------------------------*/
@import "theme-utilities/positioning";
/* ---------------------------
  03.Theme Utility -> { Sizes } 
------------------------------*/
@import "theme-utilities/size";
/* --------------------------------
  03.Theme Utility -> { Typograpy } 
-----------------------------------*/
@import "theme-utilities/typography";
/* ---------------------------------
  03.Theme Utility -> { Gradient } 
------------------------------------*/
@import "theme-utilities/gradient";
/* 
---------------------------------
-------> THEME CUSTOM STYLES 
---------------------------------
*/
@import "theme-custom-styles";

.dashboard-main-container {
  min-height: 81vh !important;
}

//custom

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
